{% extends 'base.html.twig' %}

{% block title %}Hello ExoController!{% endblock %}

{% block body %}
    {# Condiotn si résultat est différent de #}
    {# {% if resultat == "Les variables $nbr1 et $nbr2 ne sont pas des nombres" or resultat == "la division est impossible"%}
        <p><strong>{{ resultat |upper }}</strong></p>  #}
    {# Condition normale affiche le résultat de l'opération #}
    {# {% else %}
        <p>Le resultat de l'operation : <strong>{{operateur}}</strong> avec les nombres
        <strong>{{nbr1}}</strong> et <strong>{{nbr2}}</strong> est égal à : </p>
        <p><strong>{{resultat}}</strong></p>
    {% endif %} #}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {# <h1>Hello {{ controller_name }}! ✅</h1> #}
    {# <p>{{nom}}</p> #}
<br>
    <p>L'opération {{operateur}} de {{nbr1}} et de {{nbr2}} a été effectuée !</p>
    <p>{{message}}</p>
    <br>
    {# This friendly message is coming from:
    <ul>
        <li>Your controller at <code>C:/Users/FrançoisR/Documents/symfony/test/src/Controller/ExoController.php</code></li>
        <li>Your template at <code>C:/Users/FrançoisR/Documents/symfony/test/templates/exo/index.html.twig</code></li>
    </ul> #}
</div>
{% endblock %}
